p {
    text-align: center;
    font-size: 30px;
    font-family: Candara, Oswald;
    }
img {
    display: block;
    margin: 0 auto;
    width: 25%;
    }
#happynanbe {
    position: fixed;
    top: 85%;
    left: 55%;
    transform: translate(-50%, -50%);
    }
#justnanbe {
    position: absolute;
        left: 45%;
        top: 83.5%;
    }
body {
        background-color: #c3a7a7;
        padding: 20px;
    }
h4 {
        position: absolute;
        bottom: 0;
        right: 10%;
        text-align: right;
    }
    
      